.textField {
  position: relative;
  display: flex;
}

.textField::after,
.textField::before {
  content: '';
  position: absolute;
  bottom: 0;
  height: 1px;
  width: 100%;
  border-bottom: 1px solid #bbb;
}

.textField::after {
  border-bottom: 2px solid #1867c0;
  transform: scaleX(0);
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
}

.textField.focus::after {
  transform: scaleX(1);
}

.input {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  flex: 1 1 auto;
  height: 32px;
  font-size: 16px;
  color: inherit;
  outline: none;
  border: none;
  padding: 8px 0;
  width: 100%;
  max-width: 100%;
  min-width: 0;
}

.label {
  position: absolute;
  top: 6px;
  left: 0;
  transform-origin: top left;
  white-space: nowrap;
  pointer-events: none;
  color: rgba(0, 0, 0, 0.54);
}

.textField.focus .label {
  transform: translateY(-18px) scale(0.75);
  color: #1867c0;
}

.textField.dirty .label {
  transform: translateY(-18px) scale(0.75);
}
