.chip {
  display: inline-flex;
  height: 32px;
  padding: 0 4px 0 12px;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 16px;
  background: #e0e0e0;
  font-size: 13px;
  margin: 4px;
}

.close {
  display: flex;
  width: 20px;
  height: 20px;
  background: #aaa;
  color: #fff;
  border-radius: 50%;
  margin: 0 2px 0 8px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.close::after {
  content: '✖';
  font-size: 10px;
}

.close:hover {
  background-color: #666;
}
